@page
@model SGE.App.Frontend.Pages.GrupoDetailModel
@{
}
<div class="row">
    <div class="col-10">
        <h1>Grupo:@Model.Grupo.Nombre</h1>
    </div>
    <div class="col-2 text-right">
        <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Listar" asp-page="./GrupoList">
            <i class="fas fa-list-ul"></i>
        </a>
    </div>
</div>
<div class=row>
    <div class=col-4>
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <td>Id</td>
                    <td>@Model.Grupo.Id</td>
                </tr>
                <tr>
                    <td>Codigo</td>
                    <td>@Model.Grupo.Codigo</td>
                </tr>
                <tr>
                    <td>Nombre</td>
                    <td>@Model.Grupo.Nombre</td>
                </tr>
                <tr>
                    <td>Ciclo</td>
                    <td>@Model.Grupo.Ciclo.Nombre</td>
                </tr>
                <tr>
                    <td>Formador</td>
                    <td>@Model.Grupo.Formador.Nombre</td>
                </tr>
                <tr>
                    <td>Tutor</td>
                    <td>@Model.Grupo.Tutor.Nombre</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
