@page
@model SGE.App.Frontend.Pages.HorarioEditModel
@{
}

<div class="row">
    <div class="col-10">
        <h1>Horario</h1>
    </div>
    <div class="col-2 text-right">
        <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Listar" asp-page="./HorarioList">
            <i class="fas fa-list-ul"></i>
        </a>
    </div>
</div>
<form method="post" action="">
    <input type="hidden" asp-for="Horario.Id">

    <div class="form-group">
        <label asp-for="Horario.Grupo"></label>
        <select asp-for="GrupoID" name="GrupoID" class="form-control" asp-items="Model.listaGrupos">
            <option>--- Seleccione un Grupo ---</option>
        </select>
        <span asp-validation-for="Horario.Grupo" class="text-danger">@Model.MsgIntensidad</span>
    </div>
    <div class="form-group">
        <label>Dia</label>
        <select asp-for="DiaID" name="DiaID" class="form-control">
            <option>--- Selecione un Día</option>
            <option value="Lunes">Lunes</option>
            <option value="Martes">Martes</option>
            <option value="Miercoles">Miercoles</option>
            <option value="Jueves">Jueves</option>
            <option value="Viernes">Viernes</option>
            <option value="Sñabado">Sábado</option>
        </select>
        <span asp-validation-for="Horario.DiaSemana" class="text-danger">@Model.MsgDia</span>
        <span asp-validation-for="Horario.DiaSemana" class="text-danger">@Model.MsgFormador</span>
    </div>

    <div class="form-group">
        <label asp-for="Horario.HoraInicial"></label>
        <input asp-for="Horario.HoraInicial" type="time" class="form-control">
        <span asp-validation-for="Horario.HoraInicial" class="text-danger">@Model.MsgIntervalo</span>
        <span asp-validation-for="Horario.HoraInicial" class="text-danger">@Model.MsgIntensidad</span>
        <span asp-validation-for="Horario.HoraInicial" class="text-danger">@Model.MsgFormador</span>
    </div>

    <div class="form-group">
        <label asp-for="Horario.HoraFinal"></label>
        <input asp-for="Horario.HoraFinal" type="time" class="form-control">
        <span asp-validation-for="Horario.HoraFinal" class="text-danger">@Model.MsgIntervalo</span>
        <span asp-validation-for="Horario.HoraFinal" class="text-danger">@Model.MsgIntensidad</span>
        <span asp-validation-for="Horario.HoraFinal" class="text-danger">@Model.MsgFormador</span>
    </div>
        <button type="submit" class="btn btn-primary btn btn-block" data-toggle="tooltip" data-placement="top" title="Guardar">
            <i class="fas fa-2x fa-save"></i>        
        </button>
    </div>
</form>