@page
@model SGE.App.Frontend.Pages.HorarioListModel
@{
}
<div class="row">
    <div class="col-10">
        <h1>Horarios</h1>
    </div>
    <div class="col-2 text-right">
        <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Crear" asp-page="./HorarioEdit">
            <i class="fas fa-plus"></i>
        </a>
    </div>
</div>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Grupo</th>
            <th>Dia Semana</th>
            <th>Hora Inicial</th>
            <th>Hora Final</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var h in Model.Horarios)
        {
            <tr>
                <td>@h.Id</td>
                <td>@h.Grupo.Nombre</td>
                <td>@h.DiaSemana</td>
                <td>@h.HoraInicial</td>
                <td>@h.HoraFinal</td>
                <td>
                    <a class="btn btn-primary table-btn" data-toggle="tooltip" data-placement="top" title="Ver" asp-page="./HorarioDetail" asp-route-horarioId="@h.Id">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a class="btn btn-primary table-btn" data-toggle="tooltip" data-placement="top" title="Editar" asp-page="./HorarioEdit" asp-route-horarioId="@h.Id">
                        <i class="fas fa-edit" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-danger table-btn" data-toggle="modal" data-target="#m-@h.Id">
                        <span data-toggle="tooltip" data-placement="top" title="Eliminar">
                            <i class="fas fa-trash"></i>
                        </span>
                    </a>
                </td>
            </tr>
            <div class="modal fade" id="m-@h.Id" tabindex="-1" role="dialog" aria-labelledby="m-@h.Id" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="m-@h.Id">Confirmación</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Desea eliminar este registro: @h.DiaSemana</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Eliminar" asp-page="./HorarioList" asp-route-horarioId="@h.Id">
                                Eliminar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </tbody>
</table>
