@page
@model SGE.App.Frontend.Pages.MatriculaListModel
@{
}

<div class="row">
    <div class="col-10">
        <h1>Matricula</h1>
    </div>
    <div class="col-2 text-right">
        <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Crear" asp-page="./MatriculaEdit">
            <i class="fas fa-plus"></i>
        </a>
    </div>
</div>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Estudiante</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var m in Model.Matriculas)
        {
            <tr>
                <td>@m.Id</td>
                <td>@m.Estudiante.Nombre</td>
                <td>
                    <a class="btn btn-primary table-btn" data-toggle="tooltip" data-placement="top" title="Ver" asp-page="./MatriculaDetail" asp-route-matriculaId="@m.Id">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a class="btn btn-primary table-btn" data-toggle="tooltip" data-placement="top" title="Editar" asp-page="./MatriculaEdit" asp-route-matriculaId="@m.Id">
                        <i class="fas fa-edit" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-danger table-btn" data-toggle="modal" data-target="#m-@m.Id">
                        <i class="fas fa-trash" data-toggle="tooltip" data-placement="top" title="Eliminar"></i>
                    </a>
                </td>
            </tr>
            <div class="modal fade" id="m-@m.Id" tabindex="-1" role="dialog" aria-labelledby="m-@m.Id" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="m-@m.Id">Confirmación</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Desea eliminar este registro: @m.Estudiante.Nombre</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Eliminar" asp-page="./MatriculaList" asp-route-matriculaId="@m.Id">
                                Eliminar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </tbody>
</table>
