@page
@model SGE.App.Frontend.Pages.MisGruposModel
@{
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessoor
@if(@HttpContextAccessoor.HttpContext.Session.GetString("MiRol")!= null &&
    @HttpContextAccessoor.HttpContext.Session.GetString("MiRol").Equals("Formador"))
{
    <div class="row">
        <div class="col-10">
            <h1>Mis Grupos</h1>
        </div>
    </div>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Ciclo</th>
                <th>Grupo</th>
                <th>Tutor</th>
                <th>Estudiante</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var m in Model.MisGrupos)
            {
                <tr>
                    <td>@m.Grupo.Ciclo.Nombre</td>
                    <td>@m.Grupo.Nombre</td>
                    <td>@m.Grupo.Tutor.Nombre @m.Grupo.Tutor.Apellidos</td>
                    <td>@m.Estudiante.Nombre @m.Estudiante.Apellidos</td>
                </tr>
            }
        </tbody>
    </table>
}
@if(@HttpContextAccessoor.HttpContext.Session.GetString("MiRol")!= null &&
    @HttpContextAccessoor.HttpContext.Session.GetString("MiRol").Equals("Tutor"))
{
    <div class="row">
        <div class="col-10">
            <h1>Mis Grupos</h1>
        </div>
    </div>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Ciclo</th>
                <th>Grupo</th>
                <th>Formador</th>
                <th>Estudiante</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var m in Model.MisGrupos)
            {
                <tr>
                    <td>@m.Grupo.Ciclo.Nombre</td>
                    <td>@m.Grupo.Nombre</td>
                    <td>@m.Grupo.Formador.Nombre @m.Grupo.Formador.Apellidos</td>
                    <td>@m.Estudiante.Nombre @m.Estudiante.Apellidos</td>
                </tr>
            }
        </tbody>
    </table>
}
@if(@HttpContextAccessoor.HttpContext.Session.GetString("MiRol")!= null &&
    @HttpContextAccessoor.HttpContext.Session.GetString("MiRol").Equals("Estudiante"))
{
    <div class="row">
        <div class="col-10">
            <h1>Mis Grupos</h1>
        </div>
    </div>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Ciclo</th>
                <th>Grupo</th>
                <th>Formador</th>
                <th>Tutor</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var m in Model.MisGrupos)
            {
                <tr>
                    <td>@m.Grupo.Ciclo.Nombre</td>
                    <td>@m.Grupo.Nombre</td>
                    <td>@m.Grupo.Formador.Nombre @m.Grupo.Formador.Apellidos</td>
                    <td>@m.Grupo.Tutor.Nombre @m.Grupo.Tutor.Apellidos</td>
                </tr>
            }
        </tbody>
    </table>
}
