@page
@model SGE.App.Frontend.Pages.NotaDetailModel
@{
}
<div class="row">
    <div class="col-10">
        <h1>Nota</h1>
    </div>
    <div class="col-2 text-right">
        <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Listar" asp-page="./NotaList">
            <i class="fas fa-list-ul"></i>
        </a>
    </div>
</div>
<div class=row>
    <div class=col-4>
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <td>Id</td>
                    <td>@Model.Nota.Id</td>
                </tr>
                <tr>
                    <td>Estudiante</td>
                    <td>@Model.Nota.Estudiante.Nombre</td>
                </tr>
                <tr>
                    <td>Grupo</td>
                    <td>@Model.Nota.Grupo.Nombre</td>
                </tr>
                <tr>
                    <td>Nota1</td>
                    <td>@Model.Nota.Nota1</td>
                </tr>
                <tr>
                    <td>Nota2</td>
                    <td>@Model.Nota.Nota2</td>
                </tr>
                <tr>
                    <td>Nota3</td>
                    <td>@Model.Nota.Nota3</td>
                </tr>
                <tr>
                    <td>Nota4</td>
                    <td>@Model.Nota.Nota4</td>
                </tr>
                <tr>
                    <td>Nota5</td>
                    <td>@Model.Nota.Nota5</td>
                </tr>
                <tr>
                    <td>Nota Definitiva</td>
                    <td>@Model.Nota.NotaDef</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
