
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SGE</title>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">SGE</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        
                        @using Microsoft.AspNetCore.Http;
                        @inject IHttpContextAccessor HttpContextAccessoor
                        @if(@HttpContextAccessoor.HttpContext.Session.GetString("MiRol")!= null &&
                            @HttpContextAccessoor.HttpContext.Session.GetString("MiRol").Equals("Administrador"))
                        {
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Entidades/DeptoList">Departamento</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Entidades/MunicipioList">Municipio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Entidades/RolList">Rol</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Entidades/UsuarioList">Usuario</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Entidades/CicloList">Ciclo</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Entidades/GrupoList">Grupo</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Entidades/MatriculaList">Matricula</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Entidades/HorarioList">Horario</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Entidades/NotaList">Nota</a>
                                </li>
                            </ul>
                        }

                        @if(@HttpContextAccessoor.HttpContext.Session.GetString("MiRol")!= null &&
                            @HttpContextAccessoor.HttpContext.Session.GetString("MiRol").Equals("Estudiante"))
                        {
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Entidades/MatriculaList">Grupos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Horarios</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Notas</a>
                                </li>
                            </ul>
                        }

                        @if(@HttpContextAccessoor.HttpContext.Session.GetString("MiRol")!= null &&
                            @HttpContextAccessoor.HttpContext.Session.GetString("MiRol").Equals("Formador"))
                        {
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Entidades/MatriculaList">Grupos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Horarios</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Notas</a>
                                </li>
                            </ul>
                        }

                        @if(@HttpContextAccessoor.HttpContext.Session.GetString("MiRol")!= null &&
                            @HttpContextAccessoor.HttpContext.Session.GetString("MiRol").Equals("Tutor"))
                        {
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Entidades/MatriculaList">Grupos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Horarios</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Notas</a>
                                </li>
                            </ul>
                        }
                </div>
                @if(HttpContextAccessoor.HttpContext.Session.GetString("MiRol") == null)
                {
                    <div class="text-right">
                        <a class="nav-link btn btn-primary" asp-area="" asp-page="/Ingreso/Ingreso">
                            <i class="fas fa-user"></i> Ingresar
                        </a>
                    </div>
                }

                @if(HttpContextAccessoor.HttpContext.Session.GetString("MiRol") != null &&
                HttpContextAccessoor.HttpContext.Session.GetString("MiUsuario") != null)
                {
                    <div class="text-right">
                        <a class="nav-link btn btn-primary" asp-area="" asp-page="/Ingreso/Logout">
                            <i class="fas fa-user"></i> Cerrar Sesion
                        </a>
                        <div class = "nav-item">@HttpContextAccessoor.HttpContext.Session.GetString("MiNombre")</div>
                    </div>
                }
                </div>
            </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - DevelopX-Team - <a href="https://github.com/uncion7/SGE.App" target="_blank">Github</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
